---
---

@import "{{ site.theme }}";

$mycolor: black;

header {

    background: black;

}

header a.button {

    background: white

}

aside a.button {

    background: white

}

#main-content h2:before {

    color: #1304e0;

}

#main-content h1:before {

    color: lightgreen;

}

#main-content h3 {

    color: lightgreen;

  }

  #main-content h4 {

    color: lightgreen;

  }

  #main-content h6 {

    color: lightgreen;

  }
